#footer {
    margin: 50px 0;
    font-size: 80%;
}

body {
    font: 110% "Oranienbaum";
    text-align: center;
    color: #2e3436;
    background: url("/assets/images/bgnoise.gif");
}

h1 {
    margin: 50px 0 100px;
    font-size: 370%;
    font-weight: normal;
    letter-spacing: 3pt;
    text-transform: uppercase;
    color: #555753;
    white-space: nowrap;
}

h1:before, h1:after {
    content: "~";
}

h1 a, h1 a:hover {
    color: #555753;
    text-decoration: none;
}

h2 {
    font-size: 460%;
    font-weight: normal;
    line-height: 1.1;
}

h3 {
    margin: 30px 0 10px;
    font-size: 170%;
    font-weight: normal;
}

h4 {
    font-size: 130%;
    font-weight: normal;
}

hr {
    width: 200px;
    margin: 40px auto;
    border-top-color: #d3d7cf;
    border-bottom-color: #eeeeec;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    margin: 10px 0;
}

img {
    margin: 25px 0;
    border: 1px solid #888a85;
    box-shadow: 0 0 20px #2e3436;
}

i {
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.hr {
    margin: 50px 0;
    font-size: 170%;
    color: #888a85;
    border: none;
}

.icon-envelope-alt {
    color: #eeeeec;
    text-shadow: 0px 0px 3px #2e3436;
}

.icon-phone {
    color: #a40000;
    text-shadow: 0px 0px 2px #2e3436;
}

.icon-briefcase {
    color: #8f5902;
}

.icon-trophy {
    color: #fce94f;
    text-shadow: 0px 0px 4px #2e3436;
    font-size: 23px;
    top: 5px;
    right: 4px;
    margin: 0;
}

.icon-bullhorn {
    color: #204a87;
}

.left {
    text-align: left;
    width: 200px;
    margin: 0 auto;
}

.projects {
    text-align: center;
}

.projects div {
    margin: 25px;
    display: inline-block;
}

@media (min-width: 1200px) {
    body {
        font-size: 130%;
    }

    h1 {
        font-size: 400%;
    }

    h2 {
        font-size: 570%;
    }

    hr, .left {
        width: 250px;
    }

    .icon-trophy {
        right: 1px;
        margin-right: 5px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    h1 {
        font-size: 300%;
        margin-bottom: 80px;
    }

    h2 {
        font-size: 370%;
    }

    .hr {
        font-size: 130%;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 230%;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 350%;
    }

    .hr {
        font-size: 82%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 160%;
        margin: 25px 0;
    }

    h2 {
        font-size: 270%;
    }

    h3 {
        font-size: 140%;
        line-height: 1;
    }

    h4 {
        font-size: 115%;
    }

    .hr {
        margin: 30px 0;
        font-size: 50%;
    }
}
